.blogContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
  @media screen and (max-width: 1224px) {
    flex-direction: column-reverse;
  }
}
.blogSection {
  height: 90%;
  width: 70%;
  padding: 2.5%;
  margin-top: 10vh;
  border-right: 0.5px solid #e1dcca;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  @media screen and (max-width: 1224px) {
    width: 100%;
    padding: 0.5% 2.5%;
    margin-top: 5%;
  }
}
.eventSection {
  margin-top: 10vh;
  height: 80%;
  width: 20%;
  padding: 0 5%;
  color: #0047ab;
  @media screen and (max-width: 1224px) {
    height: 30%;
    width: 100%;
  }
}
