.container {
  padding: 0;
  margin: 0;
  scrollbar-color: #000000;
}
.mainContainer {
  background-color: black;
  height: 100vh;
  width: 100vw;

  // THIS IS SUBJECT TO CHANGE
  @media screen and (max-width: 1224px) {
    width: 100vw;
    height: 100%;
    overflow: hidden;
  }
}

.section1 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #093a3a, #000);
  display: flex;

  @media screen and (max-width: 1224px) {
    flex-direction: column-reverse;
  }
  .heroContainer {
    height: inherit;
    width: 60%;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 1224px) {
      width: 100vw;
    }
    h1 {
      margin: 0;
      font-size: 5em;
      color: #e1dcca;
      @media screen and (max-width: 1224px) {
        font-size: 2.5em;
      }
    }
    h2 {
      margin: 0;
      font-size: 3em;
    }
    h3 {
      font-weight: 200;
      font-size: 2em;
      @media screen and (max-width: 1224px) {
        font-size: 1.5em;
      }
    }
    .heroButtonContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60%;
      height: 10%;
      @media screen and (max-width: 1224px) {
        width: 95vw;
      }
      button {
        background-color: #e1dcca;
        color: #1d3c3d;
        border-radius: 20px;
        border: transparent;
        width: 100%;
        height: 5vh;
        margin: 0 5% 0 0;
        cursor: pointer;
      }
    }
  }
  .maxImage {
    .carousel-root {
      display: none !important;
      .carousel-status,
      .control-dots {
        display: none !important;
      }
    }
    height: 100%;
    width: 40%;
    // background-image: url("/max.jpg");
    background-size: cover;
    overflow: hidden;
    background-position: 60% 0;
    padding: 0;
    z-index: 0;
    background-color: #000000;

    @media screen and (max-width: 1224px) {
      width: 100vw;
    }
  }
}

.section2 {
  height: 90vh;
  width: 100%;
  background-color: #f1f1f1;
  padding: 10% 5%;
  h1 {
    margin: 0;
    color: #1d3c3d;
    @media screen and (max-width: 1224px) {
      font-size: 1.5em;
      text-align: center;
    }
  }
  .cardContainer {
    height: 90%;
    width: 100%;
    // background-color: #e1dcca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1224px) {
      flex-direction: column;
    }
  }
}

.section3 {
  height: 90vh;
  width: 100%;
  background-image: url("/Background.jpg");
  background-size: contain;
  display: flex;
  @media screen and (max-width: 1224px) {
    flex-direction: column-reverse;
    height: 100vh;
  }
  .section3Picture {
    width: 50%;
    height: 100%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1224px) {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
  .aboutContainer {
    opacity: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dfdfdfdc;
    padding: 5%;
    color: #000;
    @media screen and (max-width: 1224px) {
      width: 100vw;
      padding: 5% 5%;
    }
    h1 {
      width: 100%;
      font-size: 3em;
      margin: 0;
      @media screen and (max-width: 1224px) {
        font-size: 2em;
        width: 100%;
      }
    }
    p {
      font-size: 1.5em;
      width: 80%;
      @media screen and (max-width: 1224px) {
        font-size: 1.5em;
        width: 100%;
      }
    }
  }
}

.section4 {
  height: 90vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  @media screen and (max-width: 1224px) {
    width: 100vw;
    height: 100vh;
  }
  .sectionWrapper {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1224px) {
      flex-direction: column;
      height: 100%;
    }
    .section4Left {
      height: 100%;
      width: 50%;
      background-color: #fff;
      color: #1d3c3d;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: 1224px) {
        width: 100%;
      }
      h1 {
        font-size: 4em;
        @media screen and (max-width: 1224px) {
          font-size: 2em;
        }
      }
      p {
        font-size: 1.5em;
        text-align: justify;
      }
    }
    .section4Right {
      height: 100%;
      width: 40%;
      display: grid;
      grid-template-columns: auto auto;
      @media screen and (max-width: 1224px) {
        width: 100%;
      }
    }
  }
}

.section5 {
  height: 40vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #093a3a, #000);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  @media screen and (max-width: 1224px) {
    flex-direction: column;
    padding: 5%;
  }
  // padding: 0 5%;
  .donateText {
    height: 100%;
    width: 50%;
    color: #e1dcca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 1224px) {
      width: 100%;
      justify-content: flex-start;
    }

    h1 {
      font-size: 3em;
      margin: 0;
      @media screen and (max-width: 1224px) {
        font-size: 2em;
      }
    }
    p {
      font-size: 1.5em;
      @media screen and (max-width: 1224px) {
        font-size: 1.5em;
      }
    }
  }
  .donateButton {
    height: 15%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1224px) {
      width: 100%;
    }
    button {
      width: 80%;
      height: 100%;
      border-radius: 10px;
      background-color: #e1dcca;
      color: #1d3c3d;
      border: transparent;
      cursor: pointer;
      @media screen and (max-width: 1224px) {
        width: 100%;
      }
    }
  }
}

.section6 {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  background-color: #f8fafb;
  @media screen and (max-width: 1224px) {
    height: 100vh;
    padding: 5%;
    flex-direction: column;
  }
  .formLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1d3c3d;
    @media screen and (max-width: 1224px) {
      width: 100%;
    }
    h1 {
      font-size: 4em;
      margin: 0;
      @media screen and (max-width: 1224px) {
        font-size: 2em;
      }
    }
    p {
      font-size: 1.5em;
    }
    .contactInfo {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 1.2em;
      p {
        padding: 0 5%;
        @media screen and (max-width: 1224px) {
          font-size: 1em;
        }
      }
    }
  }
  .formRight {
    height: 70%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    @media screen and (max-width: 1224px) {
      width: 100%;
      align-items: center;
      height: 100%;
    }
    p {
      color: #bebebe;
    }
    .formContainer {
      width: 80%;
      height: 70%;
      // background-color: #e1dcca;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .formInputs {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        input {
          border-radius: 0;
          background-color: #e1dcca;
          height: 20%;
          width: 100%;
          border: 1px solid #bebebe;
        }

        textarea {
          border: 1px solid #bebebe;
          background-color: #e1dcca;
          min-width: 100%;
          max-width: 100%;
          min-height: 20%;
          max-height: 20%;
          outline: none;
          text-indent: 20px;
          color: #093a3a;
          line-height: 20px;
        }
        textarea[placeholder] {
          text-indent: 20px;
          padding-top: 20px;
        }
      }
      input[type="text"] {
        border-radius: 10px 10px 0 0;
      }
      input::placeholder {
        color: rgb(85, 85, 85);
      }

      input {
        text-indent: 20px;
        border-radius: 10px;
        height: 20%;
        background-color: #093a3a;
        outline: none;
        color: #093a3a;
      }
      input[type="submit"] {
        color: #e1dcca;
        text-indent: 0;
        cursor: pointer;
      }
      input:active {
        border: 1px solid #1d3c3d;
        outline: none;
      }
    }
  }
}

.section7 {
  height: 50vh;
  width: 100%;
  background-color: #0f0f0f;
  display: grid;
  padding: 0 5%;
  grid-template-rows: 80% 20%;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-around;

    div {
      height: 50%;
      h3 {
        color: #e1dcca;
      }
      :last-child {
        display: flex;
        justify-content: space-between;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      text-indent: none;
      padding: 0;
      align-items: flex-start;
      margin: 0;
      line-height: 30px;
      font-weight: 100;
    }
    .footerLogo {
      width: 20%;
    }
    // background-color: #000000;
  }
  .bottom {
    border-top: 1px solid #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e1dcca;
  }
}
